{{ partial "header.html" . }}

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title">{{ .Params.title }}</h1>
          <h2 class="subtitle">{{ .Params.subtitle }}</h2>
        </div>

        <div class="column is-narrow">
          {{ partial "switchboard.html" . }}
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section site-content">
  <div class="container">
    <div class="content">
      <div class="title main-page-title">Ledger Reconciler is a open-source command-line tool that automates</div>

      <div class="columns feature-row">
        <div class="column">
          <p class="title"><span class="icon"><i class="fa fa-cloud-download" aria-hidden="true"></i></span>&nbsp;Retrieval</p>
          <p>Automatically logs into your financial accounts and downloads your transactions using <a href="https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md">headless Chrome</a>.</p>
        </div>

        <div class="column">
          <p class="title"><span class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>&nbsp;Classification</p>
          <p>Classifies your transactions using Bayesian machine learning (via <a href="https://github.com/cantino/reckon">reckon</a>).</p>
        </div>

        <div class="column">
          <p class="title"><span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>&nbsp;Consolidation</p>
          <p>Updates your <a href="http://ledger-cli.org">Ledger</a> data file with these newly classified entries.</p>
        </div>

        <div class="column">
          <p class="title"><span class="icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>&nbsp;De-duplication</p>
          <p>Prevents duplicate transactions by marking the last processed transaction.</p>
        </div>
      </div>

      <iframe class="showterm-iframe" src="https://showterm.io/d24210057ecc6b2c6bad7"></iframe>

      {{.Content}}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
