<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>

      <strong>Ledger Reconciler</strong> by <a href="https://disjoint.ca/page/about/">Marvin Pinto</a> &middot; <a href="{{ relref . "/license.md" }}">Some rights reserved</a> &middot;
      <a href="https://github.com/marvinpinto/ledger-reconciler" target="_blank">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>

      </p>
    </div>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', function () {
  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any nav burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
});
</script>

</body>
</html>
