<div class="sb-container">
  <a href="https://goswitchboard.com/?utm_source=ledger-reconciler&utm_medium=banner&utm_campaign=beta-launch" class="sb-img">
    <img src="{{ "/images/switchboard-logo-full.png" | absURL }}" alt="Switchboard Logo">
  </a>
  <a href="https://goswitchboard.com/?utm_source=ledger-reconciler&utm_medium=banner&utm_campaign=beta-launch" class="sb-content">Take control of how people reach you. Sign up for our free beta today.</a>
  <span class="sb-ad-url">Advertisement for <a href="https://goswitchboard.com/?utm_source=ledger-reconciler&utm_medium=banner&utm_campaign=beta-launch">https://goswitchboard.com</a></span>
</div>
